* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(135deg, #e9efff, #f8f9fb);
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  height: 100%;
  padding: 120px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 28px;
}

.add {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
}

.add input {
  flex: 1;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.add button {
  padding: 14px 22px;
  border-radius: 8px;
  border: none;
  background-color: #4a6cf7;
  color: white;
}

.second {
  display: flex;
  flex-direction: column;
}

.second > div {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  background-color: #f9fafb;
  border-radius: 10px;
}

.second p {
  flex: 1;
}

.second button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  gap: 10px;
}

.second button:first-of-type {
  background-color: #22c55e;
  color: white;
  
}

.second button:last-of-type {
  background-color: #ef4444;
  color: white;
}

@media (max-width: 480px) {
  .add {
    flex-direction: column;
  }

  .second > div {
    flex-direction: column;
    align-items: flex-start;
  }

  .second button {
    width: 100%;
  }
}
